<html>
  <head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <style>
      img {
        float: left;
      }

      ol li {
        list-style-type: none;

      }

      form label {
        display: inline-block;
        line-height: 1.8;
        vertical-align: top;
      }
    </style>

    <script type="text/javascript">
        function switchImage() {
            var image = document.getElementById("imageToSwap");
            var dropd = document.getElementById("dlist");
            var imageUrl = document.getElementById("picurl");
            var userPic =
            imageUrl.value = dropd.value;
            image.src = dropd.value;
        };
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <h1>User Account - html version</h1>
      <br>
      <br>
      <!--<%&#45;&#45;ADDING FORM FOR UPLOADING USER PIC&#45;&#45;%>-->
      <img id="imageToSwap" src="../Photos/Placeholder_Image.jpg" width="225">

      <div style="margin-left: 250px">
        <h4>Choose Default picture:</h4>
        <form action="UploadServlet" method="post" enctype="multipart/form-data">
          <select id="dlist" onchange="switchImage()">
            <option value="../Photos/Placeholder_Image.jpg">Default</option>
            <option value="../Photos/Batman_Profile_Pic.jpg">Batman</option>
            <option value="../Photos/Wonder_Woman_Profile_Pic.jpg">Wonder Woman</option>
          </select>
          <h4>Or upload your own:</h4>
          <input type="file" name="userpic" size="50"/>
          <br>
          <br>
          <input type="submit" value="Upload Pic">
        </form>
      </div>
      <br><br>

      <div class=col-sm-4 style="border: black">

        <form action="AccountCreation" method="post">
          <input type="url" id="picurl" src="" style="display:none">
          <ol>
            <li>
              <label for="username">Username</label>
              <input type="text" id="username" placeholder="user name">
            </li>
            <li>
              <label for="password">Password</label>
              <input type="text" id="password" placeholder="password">
            </li>
            <!--<%&#45;&#45;<core:set var="name" value="${user.name}"/>&#45;&#45;%>-->
            <!--<%&#45;&#45;<input type="text" id="name" placeholder="${user.name}">&#45;&#45;%>-->
            <li>
              <label for="fname">First name</label>
              <input type="text" id="fname" placeholder="first">
            </li>
            <li>
              <label for="lname">Last name</label>
              <input type="text" id="lname" placeholder="last">
            </li>
            <li>
              <label for="dob">dob</label>
              <input type="date" id="dob" max="2010-01-01">
            </li>
            <li>
              <label for="country">From</label>
              <input type="text" id="country" placeholder="country">
            </li>
            <li>
              <label for="bio">Bio</label>
              <textarea id="bio" placeholder="Bio"></textarea>
            </li>
          </ol>
          <hr>
          <input type="submit" id="create"
                 value="Create">
          <hr>
        </form>
      </div>


    </div>
    </div>
  </body>
</html>